@model _03.Fiap.Web.MVC.Models.Filme

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (Model != null)
{
    @ViewBag.titulo
    @TempData["msg"]
    <ul>
        <li>@Model.Data</li>
        <li>@Model.Genero</li>
        <li>@Model.Legendado</li>
        <li>@Model.Nome</li>
    </ul>
}

<form action="/Filme/Cadastrar" method="post">
    <div class="form-group">
        <label for="id-nome">Nome</label>
        <input type="text" name="nome" id="id-nome" class="form-control" />
    </div>
    <div class="form-group">
        <label for="id-data">Data Lançamento</label>
        <input type="text" name="data" id="id-data" class="form-control" />
    </div>
    <div class="form-group">
        <label for="id-genero">Gênero</label>
        <select class="form-control" id="id-genero" name="genero">
            <option>Ação</option>
            <option>Comédia</option>
            <option>Drama</option>
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" name="legendado" id="id-legendado" />
        <label for="id-legendado">Legendado</label>
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
</form>

