@model List<Fiap06.Web.MVC.Models.Animal>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Raca</th>
        <th>Peso</th>
        <th>Castrado</th>
        <th></th>
    </tr>
    @foreach (var animal in Model)
    {
    <tr>
        <th>@animal.AnimalId</th>
        <th>@animal.Nome</th>
        <th>@animal.Raca</th>
        <th>@animal.Peso</th>
        <th>@(animal.Castrado ? "Sim" : "Não")</th>
        <th>
            @Html.ActionLink("Editar", "Alterar", new { id = animal.AnimalId })

        </th>
    </tr>
    }
</table>


