@model _03.Fiap.Web.MVC.Models.Filme
@{ ViewBag.Title = "Cadastrar"; }
<h2>Cadastrar</h2>
@if (Model != null) {
    <div>@ViewBag.titulo</div>
    <div>@Model.DataLancamento</div>
    <div>@Model.Genero</div>
    <div>@Model.Legendado</div>
    <div>@Model.Nome</div>
}
<form action="/filme/cadastrar" method="POST">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input class="form-control" id="nome" type="text" name="nome" />
    </div>
    <div class="form-group">
        <label for="dataLancamento">Data Lançamento</label>
        <input class="form-control" id="dataLancamento" type="text" name="dataLancamento" />
    </div>
    <div class="form-group">
        <label for="genero">Gênero</label>
        <select class="form-control" id="genero" type="text" name="genero">
            <option value="-1">Selecione</option>
            <option value="acao">Ação</option>
            <option value="comedia">Comédia</option>
            <option value="drama">Drama</option>
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" name="legendendo" />
        <label for="legendendo">Legendado</label>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" id="cadastrar" type="submit" value="Cadastrar" name="cadastrar">
    </div>
    <h2>@TempData["msg"]</h2>
</form>